<form class="form-inline" method="post" action="/charinput/newchar">
    <div class="panel panel-default container">
        <div class="panel-heading">Description</div>
        <div class="panel-body">
            <div class="form-group m-3">
                <span>Character Name:</span>
                <input class="form-control"  name="name">
            </div>
            <div class="form-group m-3">
                <span>Race:</span>
                <input class="form-control" name="race">
            </div>
            <div class="form-group m-3">
                <span>Level:</span>
                <input class="form-control"  name="level">
            </div>
            <div class="form-group m-3">
                <span>Health Points:</span>
                <input class="form-control"  name="hp">
            </div>
        </div>
    </div>

    <div class="panel panel-default container">
        <div class="panel-heading">Attributes</div>
        <div class="panel-body">
            <div class="form-group m-3">
                <span>Strength:</span>
                <input class="form-control"  name="strength">
            </div>
            <div class="form-group m-3">
                <span>Dexterity:</span>
                <input class="form-control"  name="dexterity">
            </div>
            <div class="form-group m-3">
                <span>Constitution:</span>
                <input class="form-control"  name="constitution">
            </div>
            <div class="form-group m-3">
                <span>Intelligence:</span>
                <input class="form-control"  name="intelligence">
            </div>
            <div class="form-group m-3">
                <span>Wisdom:</span>
                <input class="form-control"  name="wisdom">
            </div>
            <div class="form-group m-3">
                <span>Charisma:</span>
                <input class="form-control"  name="charisma">
            </div>
        </div>
    </div>

    <div class="panel panel-default container">
        <div class="panel-body">
            <button type="submit" class="btn btn-success">Submit</button>
            <button type="reset" class="btn btn-danger">Reset</button>
        </div>
    </div>
</form>


