<form method="post" action="/charinput/newchar">
    <input placeholder="Name" name="name">
    <input placeholder="Strength" name="strength">
    <input placeholder="Wisdom" name="wisdom">
    <input placeholder="HP" name="hp">
    <button type="submit">Submit</button>
    <button type="reset">Reset</button>
</form>