 <div class="textBox"><br>Compatible with
    <img src="http://nerdtrek.com/wp-content/uploads/2012/01/Dungeons_and_Dragons_4th_Edition_Logo-900x257.jpg" width="175" height="50">
    5th edition! <br>
     <span style="font-size: 8px">    WotC, Dungeons & Dragons, and their logos are trademarks of Wizards of the Coast</span> <br><br>
     <span style="font-weight: bold"> Sign in below to get started!</span> <br><br>
 </div>
 <span class="center">
        <form class="login-form" method="post" action="/login/login">
            <input type="text" placeholder="username" name="username"/>
            <input type="password" placeholder="password" name="password"/>
            <button>login</button>
        </form> <br><br></span>
 <div class="textBox">
     <span style="font-weight: bold"> <br> Or, if you don't have an account, sign up!</span> <br><br>
 </div>
 <span class="center">
        <form class="register-form" method="post" action="/login/register">
            <input type="text" placeholder="name" name="username"/>
            <input type="password" placeholder="password" name="password"/>
            <button>create</button>
        </form></span>

<link rel='stylesheet' href='/stylesheets/loginStyle.css' />
 <script src="/javascripts/login.js"></script>

