<div class="login-page">
    <div class="form" action="" >
        <form class="register-form" method="post" action="/login/register">
            <input type="text" placeholder="name" name="username"/>
            <input type="password" placeholder="password" name="password"/>
            <button>create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>
        <form class="login-form" method="post" action="/login/login">
            <input type="text" placeholder="username" name="username"/>
            <input type="password" placeholder="password" name="password"/>
            <button>login</button>
            <p class="message">Not registered? <a href="#">Create an account</a></p>
        </form>
    </div>
</div>

<link rel='stylesheet' href='/stylesheets/loginStyle.css' />
 <script src="/javascripts/login.js"></script>

