
 <div class="container mb-5">
     <form class="form-signin" method="post" action="/login/login">
         <label class="sr-only">Email address</label>
         <input class="form-control" placeholder="Username" required="" name="username" autofocus="">
         <label for="inputPassword" class="sr-only">Password</label>
         <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required="">
         <button class="btn btn-lg  btn-block" type="submit">Sign in</button>
     </form>
 </div>

 <div class="container mb-5">
     <form  class=" form-signin" method="post" action="/login/register" method="post">
         <label class="sr-only">Email address</label>
         <input class="form-control" placeholder="Username" required="" name="username" autofocus="">
         <label for="inputPassword" class="sr-only">Password</label>
         <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required="">
         <button class="btn btn-lg btn-block" type="submit">Register</button>
     </form>
 </div>



 <div class="container bg-faded mb-5"><br>Compatible with
     <img src="http://nerdtrek.com/wp-content/uploads/2012/01/Dungeons_and_Dragons_4th_Edition_Logo-900x257.jpg" width="175" height="50">
     5th edition! <br>
     <span style="font-size: 8px">    </span> <br><br>
 </div>









<link rel='stylesheet' href='/stylesheets/loginStyle.css' />
 <script src="/javascripts/login.js"></script>

