
<div class="jumbotron">
<h1>Take Your RPG To The Next Level</h1>
    <p>A tool for game masters and players to keep track of their characters in real-time</p>



</div>
<div class="container mb-5 p-3 bg-faded">
    <form  class=" form-signin" method="post" action="/login/register" method="post">
        <label class="sr-only">Email address</label>
        <input class="form-control" placeholder="Username" required="" name="username" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required="">
        <button class="btn btn-lg btn-danger btn-block" type="submit">Register</button>
    </form>
    <p class="small">Already Signed Up?<a href="/truelogin"> Click here to login</a></p>
</div>













<link rel='stylesheet' href='/stylesheets/loginStyle.css' />
 <script src="/javascripts/login.js"></script>

